/* Social Buttons */
#content .single-entry-header .social-buttons,
#content .single-entry-meta .social-buttons,
#content .entry-meta .social-buttons {
    margin-top: 10px;
}
#content .single-entry-header .social-buttons iframe,
#content .single-entry-meta .social-buttons iframe,
#content .entry-meta .social-buttons iframe {
    margin: 0;
}
#content .single-entry-header .social-buttons iframe,
#content .single-entry-header .social-buttons div,
#content .single-entry-meta .social-buttons iframe,
#content .single-entry-meta .social-buttons div,
#content .entry-meta .social-buttons iframe,
#content .entry-meta .social-buttons div {
    float: left;
    margin-right: 10px;
}
/* large */
#content .single-entry-header .social-buttons iframe.hatena-bookmark-button-frame { margin-top: 12px; }
#content .single-entry-header .social-buttons iframe.twitter-share-button { margin-top: 0px; }
#content .single-entry-header .social-buttons div.google-plusone-button { margin-top: 2px; }
#content .single-entry-header .social-buttons iframe.fb-like-button { margin-top: 0px; }
/* small */
#content .single-entry-meta .social-buttons iframe.twitter-share-button,
#content .entry-meta .social-buttons iframe.twitter-share-button {
    width: 100px !important;
}
#content .single-entry-meta .social-buttons iframe.fb-like-button,
#content .entry-meta .social-buttons iframe.fb-like-button,
#content .single-entry-meta .social-buttons div.mixi-fav-button,
#content .entry-meta .social-buttons div.mixi-fav-button {
    margin-left: -15px !important;
}
